<div class="submission">

<p class ="menu-superior"> Reply Comment</p>
<div class="content">
<div class="special-text">
<%= @comment.user.userName %>
<%= @comment.created_at.to_formatted_s(:short) %>
</div>
<br>

<%= @comment.content %>
<%= render 'form' %>

<%= link_to 'Back', submissions_path+"/"+@comment.submission_id.to_s %>
</div>
</div>