<div class="submission">
  <div class="menu-superior">
    <%= link_to 'Hacker News', submissions_path %>
    <div class="right-text">
      <% if current_user %>
        Logged as <%= link_to current_user.userName , current_user%>
      <% else %>
        <%= link_to 'Log In', root_path + "/auth/twitter"%>
      <% end %>
    </div>
  </div>
  <div class="content">
<%= render 'form' %>
            <%= link_to submissions_path  , :class => "btn" do %>
                Back
            <% end %>

      </div>
    </div>
</div>
