<div class="submission">
  <div class="menu-superior">
    <%= link_to 'Hacker News', submissions_path + '?ask=false' %>
    <div class="right-text">
      <% if current_user %>
        Logged as <%= link_to current_user.userName , current_user%>
      <% else %>
        <%= link_to 'Log In', root_path + "/auth/twitter"%>
      <% end %>
    </div>
  </div>
  <div class="content">

            <strong>Username:</strong>
              <%= @user.userName %>
            </p>
            
            <p>
              <strong>Karma:</strong>
              <%= @user.karma %>
            </p>
            
            <p>
              <strong>About:</strong>
              <%= @user.about %>
            </p>

            <% if current_user == @user %>
              <%= link_to edit_user_path(@user)  , :class => "btn" do %>
                  Edit
              <% end %>
            <% end %>
            <p>
            <%= link_to submissions_path + '?ask=false'  , :class => "btn" do %>
                Back
            <% end %>
      </div>
    </div>
</div>