<div class="submission">
  <div class="menu-superior">
    <%= link_to 'Hacker News', submissions_path %>
    <div class="left-text">
      <% if current_user %>
        <%= link_to 'Submit', new_submission_path %> |
      <%end%>
      <%= link_to "Ask", submissions_path + '?ask=true'%>
    </div>
    <div class="right-text">
      <% if current_user %>
        Logged as <%= link_to current_user.userName , current_user%>
      <% else %>
        <%= link_to 'Log In', "/auth/twitter"%>
      <% end %>
    </div>
  </div>
  <div class= "content">
  
    <ul>
    <!-- LINKS -->
    <% if current_page?(ask: 'false')  %>
      <% @submissions.each do |submission| %>
        <li>
          <%= link_to "", like_submission_path(submission), method: :put , :class => "upvote" %>
          <div class="special-text">
            <% if submission.url != "" %>
              <a href=<%= submission.url %> target="_blank"><%= submission.title %></a>
              (<%= submission.url %>)
            <% else %>
              <%= link_to submission.title, submission %>
            <% end %>
            <br>
            <%= submission.get_upvotes.size%> points
            by <%= link_to submission.user.userName, submission.user %>
            <%= submission.created_at.to_formatted_s(:short) %>
            <%= link_to "#{submission.comments.size} comments", submission %>
            
            <% if current_user == submission.user %>
              <%= link_to 'Edit', edit_submission_path(submission) %>
              <%= link_to 'Remove', submission, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            
          </div>
        </li>
      <% end %>
    <% end %>
    
    <!-- PREGUNTES -->
    <% if current_page?(ask: 'true')  %>
      <% @submissions.each do |submission| %>
        <% if submission.content != "" %>
          <li>
            <%= link_to "", like_submission_path(submission), method: :put , :class => "upvote" %>
            <div class="special-text">
              <%= link_to submission.title, submission %>
              <br>
              <%= submission.get_upvotes.size%> points
              by <%= link_to submission.user.userName, submission.user %>
              <%= submission.created_at.to_formatted_s(:short) %>
              <%= link_to "#{submission.comments.size} comments", submission %>
              
              <% if current_user == submission.user %>
                <%= link_to 'Edit', edit_submission_path(submission) %>
                <%= link_to 'Remove', submission, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>
    
    </ul>
  </div>
</div>