<div class="submission">
  <div class="menu-superior">
    <%= link_to 'Hacker News', submissions_path %>
    <div class="left-text">
      <%= link_to 'Submit', new_submission_path %>
    </div>
    <div class="right-text">
      <% if current_user %>
        Logged as <%= current_user.userName %>
      <% else %>
        <%= link_to 'Log In', "/auth/twitter"%>
      <% end %>
    </div>
  </div>
  <ul>
    
    <% @submissions.each do |submission| %>
      <li>
        <div class="special-text">
          <a href=<%= submission.url %> target="_blank"><%= submission.title %></a>
          <% if submission.url != "" %>
            (<%= submission.url %>)
          <% end %>
          <br />
          <%= submission.points%> points
          by <%= submission.user.userName %>
          <%= submission.created_at.to_formatted_s(:short) %>
          <%= link_to "#{submission.comments.size} comments", submission %>
          
          <% if current_user == submission.user %>
            <%= link_to 'Edit', edit_submission_path(submission) %>
            <%= link_to 'Remove', submission, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          
        </div>
      </li>
    <% end %>
  </ul>
</div>