<div class="submission">
  <div class="menu-superior">
    <%= link_to 'Hacker News', submissions_path %>
    <div class="right-text">
      <% if current_user %>
        Logged as <%= link_to current_user.userName , current_user%>
      <% else %>
        <%= link_to 'Log In', root_path + "/auth/twitter"%>
      <% end %>
    </div>
  </div>
  <div class="content">
    
    <div>
      <%= @submission.title %>
      <% if @submission.url != ""%>
        <a href=submission.url class="special-text">
          (<%= @submission.url %>)
        </a>
      <% end %>
      <% if current_user == @submission.user %>
        <%= link_to '[Edit]', edit_submission_path(@submission) %>
      <% end %>  
      <br> 
      <div class="submission-text">
        <%= @submission.points %> points 
        by <%= link_to @submission.user.userName, @submission.user %>
        <%= @submission.created_at.to_formatted_s(:short) %>
      </div>
    </div>
    
    <p>
      <%= @submission.content %>
    </p>
    
    <% if current_user %>
      <%= form_for(@comment) do |f| %>
        <div class="field">
          <%= f.text_area :content %>
        </div>
        <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" />
        <input type="hidden" name="comment[submission_id]" value="<%= @submission.id %>" />
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    <% end %>
    
    <p></p>
    
    <% @submission.comments.each do |comment| %>
      <a href="sadsadasd" class="upvote"></a>
      <div class="special-text">
        <%= comment.points %> points 
        by <%= link_to comment.user.userName, comment.user %>
        <%= comment.created_at.to_formatted_s(:short) %>
      </div><br>
      <%= comment.content %><br>
      <% if current_user %>
        <%= link_to '[Reply]', new_reply_path(:com_id => comment.id) %>
      <% end %>
      
      <% comment.replies.each do |reply| %>
        <div class="reply">
          <a href="sadsadasd" class="upvote"></a>
          <div class="special-text">
            <%= reply.points %> points
            by <%= link_to reply.user.userName, reply.user %>
            <%= reply.created_at.to_formatted_s(:short) %>
          </div><br>
          <%= reply.content %>
        </div>
        <p></p>
      <% end %>
      <p></p>
    <% end %>
    
    <p></p>
    <%= link_to submissions_path, :class => "btn" do %>
    Back
    <% end %>
  </div>
</div>