<div class="submission">
  <div class="menu-superior">Hacker News</div>
  <div class="content">
    
    <div>
      <%= @submission.title %>
      <a href=submission.url class="special-text">
        (<%= @submission.url %>)
      </a>
      <%= link_to '[Edit]', edit_submission_path(@submission) %><br> 
      <div class="submission-text">
        <%= @submission.points %> Points by <%= @submission.user.userName %> 
        <%= @submission.created_at.to_formatted_s(:short) %>
      </div>
    </div>
    
    <p>
      <%= @submission.content %>
    </p>
    
    <h2>Add a comment:</h2>
    <%= form_for([@submission, @submission.comments.build]) do |f| %>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </div>
      <div class="field">
        <%= f.label :user_id %><br>
        <%= f.text_field :user_id %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    
    <p></p>
    
    <% @submission.comments.each do |comment| %>
      <div class="special-text">
        <%= comment.points %>
        <%= comment.user.userName %> 
        <%= comment.created_at.to_formatted_s(:short) %>
      </div><br>
      <%= comment.content %><br>
      <%= link_to 'Reply', new_reply_path(:comment => comment) %>
      
      <% comment.replies.each do |reply| %>
        <div class="reply">
          <div class="special-text">
            <%= reply.points %>
            <%= reply.user.userName %>
            <%= reply.created_at.to_formatted_s(:short) %>
          </div><br>
          <%= reply.content %>
        </div>
        <p></p>
      <% end %>
      <p></p>
    <% end %>
    
    <p></p>
    <%= link_to submissions_path, :class => "btn" do %>
    Back
    <% end %>
  </div>
</div>