<div class="submission">
  <div class="menu-superior">
    <%= link_to 'Hacker News', submissions_path %>
    <div class="right-text">
      <% if current_user %>
        Logged as <%= current_user.userName %>
      <% else %>
        <%= link_to 'Log In', root_path + "/auth/twitter"%>
      <% end %>
    </div>
  </div>
  <div class="content">
    
    <div>
      <%= @submission.title %>
      <a href=submission.url class="special-text">
        (<%= @submission.url %>)
      </a>
      <%= link_to '[Edit]', edit_submission_path(@submission) %><br> 
      <div class="submission-text">
        <%= @submission.points %> Points by <%= @submission.user.userName %> 
        <%= @submission.created_at.to_formatted_s(:short) %>
      </div>
    </div>
    
    <p>
      <%= @submission.content %>
    </p>
    <%= form_for(@comment) do |f| %>
      <div class="field">
        <%= f.text_area :content %>
      </div>
      <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" />
      <input type="hidden" name="comment[submission_id]" value="<%= @submission.id %>" />
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    
    <p></p>
    
    <% @submission.comments.each do |comment| %>
      <div class="special-text">
        <%= comment.points %> points
        by <%= comment.user.userName %> 
        <%= comment.created_at.to_formatted_s(:short) %>
      </div><br>
      <%= comment.content %><br>
      <%= link_to '[Reply]', new_reply_path(:com_id => comment.id) %>
      
      <% comment.replies.each do |reply| %>
        <div class="reply">
          <div class="special-text">
            <%= reply.points %> points
            by <%= reply.user.userName %>
            <%= reply.created_at.to_formatted_s(:short) %>
          </div><br>
          <%= reply.content %>
        </div>
        <p></p>
      <% end %>
      <p></p>
    <% end %>
    
    <p></p>
    <%= link_to submissions_path, :class => "btn" do %>
    Back
    <% end %>
  </div>
</div>